<p id="notice"><%= notice %></p>

<h1>Listing Equipment</h1>

<table>
  <thead>
    <tr>
      <th>Lat</th>
      <th>Longi</th>
      <th>Address</th>
      <th>Type</th>
      <th>Classof</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.lat %></td>
        <td><%= equipment.longi %></td>
        <td><%= equipment.address %></td>
        <td><%= equipment.type %></td>
        <td><%= equipment.classOf %></td>
        <td><%= link_to 'Show', equipment %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path %>
